body{
font-family: 'Brush Script MT',cursive;
}
button{
background:transparent;
font-size:20px;
border:none;
margin-left:56%;
margin-top:10px;
font-weight:bold;
}
a{
text-decoration:none;
color:white;
}
img{
width:55%;
heigth:500px;
margin-top:-50px;
}
pre{
width:30%;
color:red;
font-weight:bold;
font-size:15px;
margin-top:-500px;
margin-left:490px;
}
@media screen and (max-width:480px)
{
img{
width:110%;
height:500px;
}
pre{
margin-top:-120%;
margin-left:29%;
font-size:13px;
}
button{
margin-top:-0.9px;
font-size:15px;
}
a{
margin-left:29px;
}
}
@media screen and (min-width:481px) and (max-width:760px)
{
button{
margin-top:-0.9px;
font-size:15px;
}
a{
margin-left:16px;
}
img{
width:80%;
height:500px;
}
pre{
margin-top:-65%;
margin-left:35%;
font-size:13px;
}
}
@media screen and (min-width:761px) and (max-width:1020px)
{
button{
font-size:15px;
margin-top:-20px;
}
a{
margin-left:-9px;
}
img{
width:50%;
height:500px;
}
pre{
font-size:14px;
margin-left:40%;
margin-top:-50%;
}
}